@use "../main.scss";

.dictionary_search {
  width: 90%;
  display: flex;
  align-items: center;
  margin: main.$component-margin auto;
  border-radius: main.$border-radius;
  background-color: main.$black;
  box-shadow: 3px 3px 0px main.$orange;

  .dictionary_search_icon {
    margin-left: 0.5em;
    color: main.$white;
    font-size: 2rem;
  }

  .dictionary_search_input {
    border-radius: inherit;
    width: 100%;
    padding: 0.5em;
    border: none;
    color: main.$white;
    background-color: main.$black;
    font-size: clamp(1em, 5vw, 1.5em);

    &:focus {
      outline-width: 0;
    }
  }
}
