@import "../variables";

.dictionary_table {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-auto-rows: 1.6em;
  width: 700px;
  height: 600px;
  margin: $component-margin;
  background: $black;
  padding: 0.5em;
  border-radius: 0.5em;
  z-index: 1;
  box-shadow: 5px 5px 0px $blue;
  color: white;
  font-size: 1.5em;
  overflow-y: scroll;

  .table_header {
    display: contents;
    font-weight: 600;
  }

  .table_row {
    display: contents;
  }

  span {
    padding: 0.2em 1em;
    text-align: left;
  }
}
