@import "../variables";

.dictionary_search {
  margin: $component-margin;
  z-index: 1;
  width: 60%;

  input {
    width: 100%;
    color: white;
    padding: 0.5em;
    background: $black;
    border-radius: 0.4em;
    font-size: clamp(1em, 5vw, 1.5em);
    box-shadow: 3px 3px 0px $orange;
  }
}
