@use "../main.scss";

.dictionary_table {
  margin: main.$component-margin auto;
  background: main.$black;
  box-shadow: 5px 5px 0px main.$blue;
  border: none;
  border-radius: 0.7em;

  .dictionary_table_row {
    font-size: clamp(1rem, 3vw, 1.2rem);
    color: main.$white;
    box-shadow: inset 0 -1px main.$white;

    &:last-of-type {
      box-shadow: none;
    }
  }
}
