@use "../main.scss";

.dictionary_table {
  width: 90%;
  margin: main.$component-margin auto;
  background-color: main.$black;
  color: main.$white;
  box-shadow: 5px 5px 0px main.$blue;
  border-radius: main.$border-radius;
  text-align: left;

  tr {
    box-shadow: inset 0 -1px main.$white;

    &:last-of-type {
      box-shadow: none;
    }

    th {
      width: 50%;
      font-size: 1.2rem;
      padding: 0.5em 1em;
    }

    td {
      width: 50%;
      font-size: clamp(0.9rem, 4vw, 1.2rem);
      padding: 0.8em 1em;
    }
  }

  @media (max-width: 425px) {
    width: 100%;
  }
}
