@use "../main.scss";

.dictionary_search {
  width: 90%;
  display: flex;
  align-items: center;
  margin: main.$component-margin auto;
  border-radius: main.$border-radius;
  background-color: main.$black;
  box-shadow: 3px 3px 0px main.$orange;

  .icon {
    margin-left: 0.5em;
    color: main.$white;
    font-size: 2rem;
  }

  input {
    border: none;
    border-radius: inherit;
    width: 100%;
    padding: 0.6em;
    color: main.$white;
    background-color: main.$black;
    font-size: 1.3rem;

    &:focus {
      outline: 0;
    }
  }

  @media (max-width: 425px) {
    width: 100%;
  }
}
