@import "../variables";

.dictionary_table {
  width: 700px;
  margin: $component-margin;
  background: $black;
  padding: 0.5em;
  border-radius: 0.5em;
  z-index: 1;
  font-size: x-large;
  box-shadow: 5px 5px 0px $blue;

  th,
  td {
    color: white;
    padding: 0.2em 1em;
    text-align: left;
  }
}
