@use "../main.scss";

.music_background {
  .vector {
    position: fixed;
    bottom: 0;
  }

  .vector_left {
    left: 50px;
  }

  .vector_right {
    right: 50px;
    transform: scaleX(-1);
  }

  .background {
    background: linear-gradient(180deg, main.$white 0%, white 100%);
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    overflow: hidden;
    z-index: -1;

    .note_single_1 {
      position: absolute;
      top: 400px;
      left: 30px;
      width: 150px;
      height: 150px;
      animation: float 3s ease-in-out infinite;
    }

    .note_double_1 {
      position: absolute;
      top: 300px;
      left: 200px;
      width: 150px;
      height: 150px;
      animation: float 3s ease-in-out infinite;
    }

    .note_single_2 {
      position: absolute;
      top: 400px;
      right: 30px;
      width: 150px;
      height: 150px;
      animation: float 3s ease-in-out infinite;
    }

    .note_double_2 {
      position: absolute;
      top: 300px;
      right: 200px;
      width: 150px;
      height: 150px;
      animation: float 3s ease-in-out infinite;
    }
  }
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }
  50% {
    transform: translatey(-40px);
  }
  100% {
    transform: translatey(0px);
  }
}
