@use "../main.scss";

.music_background {
  .background {
    background: linear-gradient(180deg, main.$white 0%, white 100%);
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    background-size: cover;
    overflow: hidden;
    z-index: -1;
  }
}
